<h1>Listing cohorts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>School</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cohorts.each do |cohort| %>
      <tr>
        <td><%= cohort.name %></td>
        <td><%= cohort.description %></td>
        <td><%= cohort.school %></td>
        <td><%= link_to 'Show', cohort %></td>
        <td><%= link_to 'Destroy', cohort, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

