<aside>
<header>
<h1>
<p></p>
</h1>
</header>
</aside>

<section id="main">
<h2>Listing cohorts</h2>
<section class="module">
    <% @cohorts.each do |cohort| %>
    <article> 
        <%= cohort.name %>
        <%= cohort.description %>
        <%= cohort.school %>
        <%= link_to 'Show', cohort %>
        <%= link_to 'Destroy', cohort, method: :delete, data: { confirm: 'Are you sure?' } %>
    </article> 
    <% end %>
</section>
</section>
