<section class="full">
<%= link_to 'Back', root_path %>
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
   <li class="active">Cohort</li>
</ol>
<h1> <%= @school.name %> <%= @cohort.name %> </h1>

</section>


<section class="half">

<h3> Cohort Description </h3>

  
 <p> <%= @cohort.description %> </p>

</section>


<section class="half">

<h3>Units</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Cohort</th>
      <th colspan="3"></th>
    </tr>
   <% @cohort.units.each do |unit| %>
      <tr>
        <td><%= link_to unit.name, unit_path(unit) %></td>
        <td><%= unit.description %></td>
        <td><%= unit.cohort.name %></td>
        <td><%= link_to 'Edit', edit_unit_path(unit.id) %></td>

      </tr>
     
    <% end %>
  </tbody>
</table>
<% if @current_user.role(@cohort).title == "Instructor" %>
 <%= link_to 'New Unit', new_cohort_unit_path(@cohort.id) %>
<%end%>
</section>