<aside>
  <header>
    <section id="back"> <%= link_to 'Back', root_path %> </section>
    <h1> <%= @cohort.name %> </h1>
    <p> <%= @cohort.description %> </p>
    <% if @current_user.is_staff?(@cohort) %>
    <hr />
    <h3>Instructor Options</h3>
    
      <p class="aside-buttons"> <%= link_to 'New Unit', new_cohort_unit_path(@cohort.id) if @current_user.is_instructor?(@cohort) %></p>
      <p class="aside-buttons"> <%= link_to 'Show All Submissions', cohort_submissions_path(@cohort.id) if @current_user.is_staff?(@cohort) %></p>

    <% end %>
  </header>
</aside>

<section id="main">
  <!-- <figure class="cover-photo"><img src="https://pbs.twimg.com/media/BmwsSaDIYAAiLop.jpg" style="width:100%;"></figure> -->

  <section class="module">

  <br />
  <p class="small-header">Units</p>
  <hr />
</section>

  <section class="module">

   <% @cohort.units.each do |unit| %>

   <article class="cohort-unit">

     <h3> <%= link_to unit.name, unit_path(unit) %> (<%= pluralize(unit.tasks.count, "Task") %>)</h3>
     <p> <%= unit.description.truncate(250) %> </p>

     <% if @current_user.is_instructor?(@cohort) %>
     <p class="footer-text"> <%= link_to ' Edit Unit', edit_unit_path(unit.id), class: "fa fa-cog" %> </p> 
    
    </article>

     <% end %>


      <% end %>


    </section>
  </section>

