<section id="left-pane">
<h1> <%= @cohort.name %> </h1>
<p> <%= @cohort.description %> </p>
	<%= link_to 'New Unit', new_cohort_unit_path(@cohort.id) if @current_user.is_instructor?(@cohort) %>
	<%= link_to 'Show all submissions', cohort_submissions_path(@cohort.id) if @current_user.is_staff?(@cohort) %>
</section>


<section id="right-pane">
<h3>Units</h3>

<table>
   <% @cohort.units.each do |unit| %>
      <tr>
        <td><%= link_to unit.name, unit_path(unit) %> (<%= pluralize(unit.tasks.count, "Task") %>)<br />
        	<%= unit.description %></td>
      </tr>
     
    <% end %>
</table>

</section>

