<aside>
	<section id="back"><%= link_to "Back to #{@school.name}", root_path %></section>
	<h1><%= @cohort.name %></h1>
	<p><%= @cohort.description %></p>

	<% if @current_user.is_staff? @cohort %>
		<ul class="aside-links">
			<li class="aside-buttons"><%= link_to 'New Unit', new_cohort_unit_path(@cohort) if @current_user.is_instructor? @cohort %></li>
			<li class="aside-buttons"><%= link_to 'Show All Submissions', cohort_submissions_path(@cohort.id) if @current_user.is_staff? @cohort %></li>
		</ul>
	<% end %>

</aside>

<section id="main">




	<section class="small-header module">Today's Blockers</section> 
	<section class="module">
		<% @cohort.blockers.from_today.each do |blocker| %>
			<p><%= blocker.blocker %></p>

			<% blocker.users.each do |user| %>
				<%= user.username %>
			<% end %>
		<% end %>

		<%= link_to "Edit Blockers", cohort_blockers_path(@cohort) if @current_user.is_staff?(@cohort) %>
	</section>


	<section class="small-header module">Units</section> 
	<section class="module">

		<% # Show units %>
		<% @cohort.units.order(:id).each do |unit| %>
			<% if unit.visible or @current_user.admin or @current_user.is_instructor?(@cohort) %>
				<article class="cohort-unit">
				<div>

					<h3><%= link_to unit.name, unit_path(unit) %></h3>

					<% if @current_user.is_student?(@cohort) and unit.has_tasks? %>
						<div class="progress-bar">
							<span class="current-progress" style="width: <%= @current_user.progress_percent unit %>%"></span>
						</div>
						<p><%= @current_user.tasks_completed unit %> of <%= pluralize(unit.tasks.count, "Task") %> Completed</p>
					<% end %>
				

					<p> <%= unit.description.truncate(150) %> </p>

					<%= content_tag(:p, "Currently hidden to students") unless unit.visible %>
					<%= link_to ' Edit Unit', edit_unit_path(unit), class: "fa fa-cog" if @current_user.is_instructor? @cohort %>
				</div>
				</article>
			<% end %>
		<% end %>

	</section>
	<!-- End Units Section -->




	<section class="small-header module">Teaching Team</section>
	<section class="module">
		<% @cohort.instructors.each do |instructor| %>
			<figure class="avatar small-avatar"><%= image_tag instructor.avatar.url(:medium) %></figure>
		<% end %>

		<% @cohort.tas.each do |ta| %>
			<figure class="avatar small-avatar"><%= image_tag ta.avatar.url(:medium) %></figure>
		<% end %>
	</section>

</section>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46526300-3', 'auto');
  ga('send', 'pageview');

</script>
