<aside>
	<header> 
		<section id="back"> <%= link_to 'Back', comments_path %> </p> </section>
	</header>
</aside>

<section id="main">

<h2> Comments </h2>

	<section class="module">

		<article class="main-article module">
		
		 <ul>
			<li>  <strong>User:</strong> <%= @comment.user.username %> </li>

			<li> <strong>Submission:</strong> <%= @comment.commentable.submission %> </li>

			<li> <strong>Content:</strong> <%= @comment.content %> </li>
		 </ul>
			<p class="footer-text"> <%= link_to 'Edit', edit_comment_path(@comment) %> </p>

		</article>

	</section>

</section>
