<aside>
	<header>
		<section id="back"> <%= link_to 'Back', unit_path(@task.unit.id) %></p>
			<h1> <%= @task.title%> </h1>
		</header>
		<p> <%= @task.description %> </p>
		<%# Show options to edit task ONLY if current user is an instructor %>
		<% if @current_user.is_staff?(@task.unit.cohort) %>
		<hr />
		<h3>Instructor Options</h3>
		<ul> 
			<li> <%= link_to 'Edit Task', edit_task_path(@task) %> </li>
		</ul>
		<% end %>
		<% # Link to previous and next task within the unit %>
		<p class="next-previous"> <hr /> <strong>  <%= (link_to "Previous Task", @task.previous) if @task.has_previous? %> | <%= (link_to "Next Task", @task.next) if @task.has_next? %> </strong> </p>

	</aside>

	<section id="main">

		<section class="module">

			<br />
 			<p class="small-header">Submissions</p>
  			<hr />

			<% if @current_user.is_student?(@task.unit.cohort) %>

			<% # If the user has already submitted %>
			<% if @current_user.has_submitted?(@task) %>

			<% # Display the user's submission %>
			<article class="submitted-answer"> <p><%= @current_user.submission_for(@task).submission %></p>
				<p class="footer-text">	Submitted <%= time_ago_in_words(@current_user.submission_for(@task).created_at) %> ago</p>

				<% @current_user.submission_for(@task).comments.each do |comment| %>
				<figure class="avatar small-avatar"><%= image_tag comment.user.avatar.url(:thumb) %></figure>
				<p><%= comment.user.username %>: <%= comment.content %></p>
				<% end %>

				<% # If the submission has already been reviewed %>
				<% if @current_user.submission_for(@task).has_been_reviewed? %>

					<% # And if the submission is correct %>
					<% if @current_user.submission_for(@task).is_correct? %>
						<p>Correct!</p>

					<% # And if the submission is incorrect %>
					<% else %>

						<% # Display submission form prepopulated with user's last submission %>
						<%= form_for @current_user.submission_for(@task) do |f| %>
						<% if @submission.errors.any? %>
							<div id="error_explanation">

							<h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>
							<ul>
								<% @submission.errors.full_messages.each do |message| %>
								<li><%= message %></li>
								<% end %>
							</ul>
							</div>
						<% end %>
						<div class="field">
						<%= f.label :submission %><br>
						<%= f.text_area :submission, value: @current_user.submission_for(@task).submission %>
						</div>
						<%= f.hidden_field :correctness, value: false %>
						<%= f.hidden_field :reviewed, value: false %>
						<div class="actions">
							<%= f.submit %>
						</div>
					<% end %>
				<% end %>

				<% # If the submission is pending evaluation %>
				<% else %>
				<p class="footer-text"> Pending Evaluation </p>
				<% end %>

				<% # If the user has not yet submitted %>
				<% else %>
				<%= render partial: 'submissions/form' %>
				<% end %>
			</section>
			<% end %>
		</section>
