<aside>
  <header>
    <section id="back"> <%= link_to 'Return to Unit', unit_path(@task.unit.id) %> </section>
    <h1> <%= @task.unit.name %> </h1>
  </header>
  <p> <%= @task.unit.description %> </p>

  <% if @current_user.is_instructor?(@task.unit.cohort) %>

	<h3>Instructor Options</h3>
		<p class="aside-buttons"> <%= link_to 'Edit Task', edit_task_path(@task) %> </p>
	<% end %>

	<% if @task.has_previous? or @task.has_next? %>
		<p class="next-previous"> <strong>  <%= (link_to "Previous Task", @task.previous) if @task.has_previous? %>
		<%= "|" if @task.has_previous? and @task.has_next? %>
		<%= (link_to "Next Task", @task.next) if @task.has_next? %> </strong> </p>
	<% end %>

</aside>



<section id="main">

<% if @current_user.has_completed? @task %>
	<section class="module"><p>You've completed this task!</p></section>
<% end %>

<section class="small-header module"><%= @task.title %></section>

<section class="module"><p><%= @task.description %></p></section>


<% if @current_user.is_student?(@task.unit.cohort) %>

	<section class="small-header module">Submissions</section>
	<section class="module">

	<% # If the user has already submitted %>
	<% if @current_user.has_submitted?(@task) %>

		<% # Display each submission %>
		<% @current_user.submissions_for(@task).each do |submission| %>

			<article class="submitted-answer cf">
				<div class="submission-content cf">
					<p><%= submission.answer %></p>
					<footer class="footer-text">
						Submitted <%= time_ago_in_words(submission.created_at) %> ago
					</footer>
				</div>

				<% # And any associated comments %>
				<% submission.comments.order(:id).each do |comment| %>

					<article class="submission-comment cf">
						<section>
							<figure class="avatar small-avatar left">
								<%= image_tag comment.user.avatar.url(:thumb) %>
							</figure>
							<p><%= comment.content %></p>
						</section>
						<footer class="footer-text left">
							Posted by <%= link_to comment.user.username, comment.user %> <%= time_ago_in_words(comment.created_at) %> ago
						</footer>
					</article>

				<% end %>
			</article>
		<% end %>

		<% # If the most recent submission has already been reviewed %>
		<% if @current_user.last_submission_for(@task).has_been_reviewed? %>

			<% # And if the submission is correct %>
			<% if @current_user.last_submission_for(@task).is_correct? %>
				<p>Correct!</p>

			<% # And if the submission is incorrect %>
			<% else %>
				<%= render partial: 'submissions/form' %>
			<% end %>

		<% # If the submission is pending evaluation %>
		<% else %>
			<p class="footer-text"> Pending Evaluation </p>
		<% end %>

	<% # If the user has not yet submitted %>
	<% else %>
		<%= render partial: 'submissions/form' %>
	<% end %>
	</section>
<% end %>
</section>
