<section class="full">

<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Cohort</a></li>
  <li><a href="#">Unit</a></li>
  <li class="active">Tasks</li>
</ol>
<%= link_to 'Back', unit_path(@task.unit.id) %>
 <h1> <%= @task.title%> </h1>

</section>

<section class="full">
 <h3> Task Description:</h3>
 <p> <%= @task.description %> </p>
 <%= link_to '', edit_task_path(@task), class: "fa fa-cog" %> 
</section>


<section class="full">
<% if @current_user.has_submitted?(@task) %>
	<%= render partial: 'submissions/form' %>
<% end %>
</section>
