<aside>
  <header>
    <section id="back"> <%= link_to 'Return to Unit', unit_path(@task.unit.id) %> </section>
    <h1> <%= @task.unit.name %> </h1>
  </header>
  <p> <%= @task.unit.description %> </p>

  <% if @current_user.is_instructor?(@task.unit.cohort) %>

	<h3>Instructor Options</h3>
		<p class="aside-buttons"> <%= link_to 'Edit Task', edit_task_path(@task) %> </p>
	<% end %>

	<% if @task.has_previous? or @task.has_next? %>
		<p class="next-previous"> <strong>  <%= (link_to "Previous Task", @task.previous) if @task.has_previous? %>
		<%= "|" if @task.has_previous? and @task.has_next? %>
		<%= (link_to "Next Task", @task.next) if @task.has_next? %> </strong> </p>
	<% end %>

</aside>







	<section id="main">

		<section class="small-header module"><%= @task.title %></section>

		<section class="module">
			<p> <%= @task.description %> </p>
		</section>

		<section class="small-header module">Current Submission</section>

		<section class="module">

			<% if @current_user.is_student?(@task.unit.cohort) %>

			<% # If the user has already submitted %>
			<% if @current_user.has_submitted?(@task) %>

			<% # Display the user's submission %>
			<article class="submitted-answer cf">
				<div class="submission-content cf">
					<p>
						<%= @current_user.submission_for(@task).submission %>
					</p>
					<footer class="footer-text">
						Submitted <%= time_ago_in_words(@current_user.submission_for(@task).created_at) %> ago
					</footer>
				</div>

				<% # And any associated comments %>
				<% @current_user.submission_for(@task).comments.each do |comment| %>
					<article class="submission-comment cf">
						<section>
							<figure class="avatar small-avatar left">
								<%= image_tag comment.user.avatar.url(:thumb) %>
							</figure>
							<p><%= comment.content %></p>
						</section>
						<footer class="footer-text left">
							Posted by <%= link_to comment.user.username, comment.user %> <%= time_ago_in_words(comment.created_at) %> ago
						</footer>
					</article>
				<% end %>

				<% # If the submission has already been reviewed %>
				<% if @current_user.submission_for(@task).has_been_reviewed? %>

					<% # And if the submission is correct %>
					<% if @current_user.submission_for(@task).is_correct? %>
						<p>Correct!</p>

					<% # And if the submission is incorrect %>
					<% else %>

						<% # Display submission form prepopulated with user's last submission %>
						<%= form_for @current_user.submission_for(@task) do |f| %>
						<% if @submission.errors.any? %>
							<div id="error_explanation">

							<h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>
							<ul>
								<% @submission.errors.full_messages.each do |message| %>
								<li><%= message %></li>
								<% end %>
							</ul>
							</div>
						<% end %>
						<div class="field">
						<%= f.label :submission %><br>
						<%= f.text_area :submission, value: @current_user.submission_for(@task).submission %>
						</div>
						<%= f.hidden_field :correctness, value: false %>
						<%= f.hidden_field :reviewed, value: false %>
						<div class="actions">
							<%= f.submit %>
						</div>
					<% end %>
				<% end %>

				<% # If the submission is pending evaluation %>
				<% else %>
				<p class="footer-text"> Pending Evaluation </p>
				<% end %>

				<% # If the user has not yet submitted %>
				<% else %>
				<%= render partial: 'submissions/form' %>
				<% end %>
			</section>
			<% end %>
		</section>
