<h1><%= @school.name %> Admin Dashboard</h1>



<%= render 'admin/invites/form' %>

<section class="half">
	<h3>School Stats</h3>

	<table>
  <thead>
    <tr>
      <th>Cohort</th>
      <th>Summary</th>
      <th>Students</th>
      <th>Settings</th>
    </tr>
  </thead>

  <tbody>
    <% @school.cohorts.each do |cohort| %>
      <tr>
        <td><%= link_to cohort.name, admin_cohort_path(cohort) %></td>
        <td><%= cohort.description.truncate(30) %></td>
       
        <td><%= link_to 'Destroy', admin_cohort_path(cohort), method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <td><%= link_to "", edit_admin_cohort_path(cohort), class: "fa fa-cog" %></td>
      </tr>
    <% end %>
  </tbody>
</table>




	<% @cohorts.limit(6).each do |cohort| %>
	<p><%= link_to cohort.name, admin_cohort_path(cohort) %> - <%= link_to 'Edit', edit_admin_cohort_path(cohort) %></p>
	<% end %>
</section>

<section class="half">
	<h3>Users</h3>
	<%= pluralize(@users.size, 'users') %> currently enrolled in <%= @school.name %>
	<%= link_to 'Manage Users', admin_users_path %>
</section>

<section class="half">
	<h3>Enrollments</h3>
	<%= form_for @enrollment, url: admin_enrollments_path do |f| %></span>
	<%= render partial: 'admin/enrollments/form', locals: {f: f} %></span>
<% end %>
</section>

