<aside>
  <header>
    <h1><%= @school.name %> Admin Dashboard</h1>
    <p> <%= @school.description %> </p>
<hr />
 <h3>Admin Options</h3>
    <ul>
      <p class="aside-buttons"> <%= link_to 'New Cohort', new_admin_cohort_path %></li>
      <p class="aside-buttons">  <%= link_to "School Settings" %> </p>
    </ul>
  </header>
</aside>

<section id="main">

     <p class="small-header"> Cohorts</p>

  <section class="module">

    <% @school.cohorts.order(:id).each do |cohort| %>

    <article class="admin-cohort cf">

     <h3> <%= link_to cohort.name, admin_cohort_path(cohort) %></h3>
      <p> <%= cohort.description %></p>
      <p class="footer-text left"> Number Of Students: <%= cohort.students.size %> | Number Of Staff: <%= cohort.staff.size %> |  <%= link_to " Edit Cohort", edit_admin_cohort_path(cohort), class: "fa fa-cog" %></p>

      </article>
        <% end %>

  </section> 
 
</section>

  <% #render partial: 'admin/enrollments/form' if @school.has_users? and @school.has_cohorts? %>

  <% #render 'admin/invites/form' %>




