<aside id="admin-aside">
	<h1><%= @school.name %> Admin Dashboard</h1>
	<p> <%= @school.description %> </p>
	<ul class="aside-links">
		<li class="aside-buttons"> <%= link_to 'New Cohort', new_admin_cohort_path %></li>
		<li class="aside-buttons">  <%= link_to "School Settings" %> </li>
	</ul>
</aside>

<section id="main">

	<section class="small-header module">Cohorts</section>
	<section class="module">

		<%= content_tag_for :article, @school.cohorts.order(:id), class: "main-article cf" do |cohort| %>
			<h3><%= link_to cohort.name, admin_cohort_path(cohort) %></h3>
			<p><%= cohort.description %></p>
			<p class="footer-text left"> Number Of Students: <%= cohort.students.size %> | Number Of Staff: <%= cohort.staff.size %> |  <%= link_to " Edit Cohort", edit_admin_cohort_path(cohort), class: "fa fa-cog" %></p>
		<% end %>
		
	</section> 
</section>
