

<%= render 'admin/invites/form' %>



<section class="admin-cohorts-all">
	<h2>Cohorts</h2>
	<% @cohorts.limit(6).each do |cohort| %>
	<p><%= link_to cohort.name, admin_cohort_path(cohort) %> - <%= link_to 'Edit', edit_admin_cohort_path(cohort) %></p>
	<% end %>
</section>

<section class="admin-users-all">
	<h2>Users</h2>
	<%= pluralize(@users.size, 'users') %> currently enrolled in <%= @school.name %>
	<%= link_to 'Manage Users', admin_users_path %>
</section>