<h1>Admin Panel</h1>

<%= render 'admin/invites/form' %>

<section class="half">
	<h3>Cohorts</h3>
	<% @cohorts.limit(6).each do |cohort| %>
	<p><%= link_to cohort.name, admin_cohort_path(cohort) %> - <%= link_to 'Edit', edit_admin_cohort_path(cohort) %></p>
	<% end %>
</section>

<section class="half">
	<h3>Users</h3>
	<%= pluralize(@users.size, 'users') %> currently enrolled in <%= @school.name %>
	<%= link_to 'Manage Users', admin_users_path %>
</section>