  <div class="profile-cover-photo">
	<img src="https://pbs.twimg.com/media/BmwsSaDIYAAiLop.jpg" style="width:100%;">
  </div>

  <figure class="avatar-large avatar"><img src='https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/117/s300/wyncode-logo.jpeg?1395235576'></figure>

  <section id="profile">

  	<h1><%= @current_user.name %></h1>
  	<table>
  		<h2>Personal Info</h2>
  		<tr>
  			<td>Username: </td>
  			<td><%= @current_user.username %></td>
  		</tr>

  		<tr>
  			<td>First Name: </td>
  			<td><%= @current_user.first_name %></td>
  		</tr>
  	
  		<tr>
  			<td>Last Name: </td>
  			<td><%= @current_user.last_name %></td>
  		</tr>

  		<tr>
  			<td>Email: </td>
  			<td><%= @current_user.email %></td>
  		</tr>
  	</table>
  	<br />
  	<table>
  		<h2>Cohorts and Roles</h2>
  		<tr>
  			<% @current_user.cohorts.each do |cohort| %>
  			<td><%= cohort.name %></td>
  			<td><%= @current_user.role(cohort).title %></td>
  		</tr>
  			<% end %>

  	</table>

  </section>


 <!--  <div class="image-gradient">
    <div class="copy"><figure class="cover-photo img-circular"><img src="https://pbs.twimg.com/media/BmwsSaDIYAAiLop.jpg" style="width:100%;"></figure>
    </div>
    <div class="overlay"></div>
  </div>

	
	<p><figure class="cover-photo"><img src="https://pbs.twimg.com/media/BmwsSaDIYAAiLop.jpg" style="width:100%;"></figure></p>

<section id="main">
	<h2></h2>
	<section class="module">
	<article class="main-article">
		<h1><%= @current_user.first_name %> <%= @current_user.last_name %></h1>
		<%= render partial: 'user', collection: @users %>
	</article>
	</section>
</section>
 -->
