  <div class="profile-cover-photo">
	<img src="http://www.wired.com/wp-content/uploads/2014/06/file-sharing.jpg" style="width:100%;">
  </div>

  <figure class="avatar-large avatar"><%= image_tag @current_user.avatar.url(:medium) %></figure>

  <section id="profile">

  	<h2><%= @current_user.name %></h2>


  <section id="profile-block">

  		<h3>Personal Info</h3>
  		
  			<p>Username: <%= @current_user.username %></p>
  	
  			<p>First Name: <%= @current_user.first_name %></p>
  	
  			<p>Last Name: <%= @current_user.last_name %></p>
  
  			<p>Email: <%= @current_user.email %></p>
   </section>

  <section id="profile-block">
  
  		<h3>Cohorts Enrolled In</h3>
  
  	     <% @current_user.cohorts.each do |cohort| %>
  			 <p> <%= cohort.name %> </p>
  			<% end %>
  	 </p>
      </section>  
     </section>  
  </section>