  <div class="profile-cover-photo">
	<img src="https://pbs.twimg.com/media/BmwsSaDIYAAiLop.jpg" style="width:100%;">
  </div>

  <figure class="avatar-large avatar"><img src='https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/117/s300/wyncode-logo.jpeg?1395235576'></figure>

  <section id="profile">

  	<h2><%= @current_user.name %></h2>
  	
  		<h3>Personal Info</h3>
  		
  			<p>Username: <%= @current_user.username %></p>
  	
  	
  			<p>First Name: <%= @current_user.first_name %></p>
 
  	
  	
  			<p>Last Name: <%= @current_user.last_name %></p>
  		

  
  			<p>Email: <%= @current_user.email %></p>
 
  		<h3>Cohorts and Roles</h3>
  	
  		  <p>Cohorts: 
  	     <% @current_user.cohorts.each do |cohort| %>
  			 <p> <%= cohort.name %> </p>
  			<% end %>
  	 </p>
     
  </section>