<section class="module">

<%= form_for [@task, @submission] do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.text_area :submission %>

    <%= f.hidden_field :user_id, value: @current_user.id %>
    <%= f.hidden_field :task_id, value: @task.id %>


  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

</section>
