<aside>
    <section id="back"> <%= link_to 'Return to Submissions', cohort_submissions_path(@submission.task.unit.cohort) %> </section>
    <h1> <%= @submission.task.unit.cohort.name %> Submissions </h1>
    <p>Submissions are user-blind for unbiased reviews.</p>
</aside>

<section id="main">


	<section class="module small-header">Submission</section>
	<section class="module">

		<div class="submission-content cf">

            <%== @submission.answer %>
			<footer class="footer-text">Submitted <%= time_ago_in_words(@submission.created_at) %> ago</footer>
		</div>

		<% # Display form %>
		<%= form_for @submission do |form| %>
			<% # Fields for optional administrator comment %>
			<%= form.fields_for :comment do |f| %>
				<%= f.hidden_field :user_id, value: @current_user.id %>
				<h5>
                  		  <%= f.label :content, "Comments? (Optional)" %>
                		</h5>
				<%= f.text_area :content, size: '24x8', style:'width: 100%' %>
			<% end %>

			<%= form.hidden_field :reviewed, value: true %>
			<%= form.hidden_field :graded_by_id, value: @current_user.id %>
			<div>
			<%= form.submit "Accepted" %>
			<%= form.submit "Not Accepted" %>
			</div>
		<% end %>

	</section>



	<section class="module small-header"><%= @submission.task.title %></section>
	<section class="module"><%= @submission.task.description %></section>


	<%= content_tag :section, "Previous Submissions", class: "module small-header" if
		@submitter.has_submitted_before? @submission.task %>

	<% # Display previous submissions %>
	<%= content_tag_for :article, @submission.related_submissions, class: "submitted-answer module" do |submission| %>

		<section class="submission-content cf">
			<%== submission.answer %>
			<footer class="footer-text">
				<%= submission.status %> | Submitted <%= time_ago_in_words(submission.created_at) %> ago
			</footer>
		</section>


		<% # And any associated comments %>
		<%= content_tag_for(:article, submission.comments, class: "submission-comment cf") do |comment| %>

			<%= content_tag(:figure, image_tag(comment.user.avatar.url(:thumb)), class: "avatar small-avatar left") %>
			<p><%= comment.content %></p>
			<footer class="footer-text left">
				Posted by <%= link_to comment.user.username, comment.user %> 
				<%= time_ago_in_words(comment.created_at) %> ago
			</footer>

		<% end %>
	<% end %>



</section>








