<aside> 
<section id="back"> <%= link_to 'Back', submissions_path(@submission.id) %> </section>
<h1> </h1>
</aside>

<section id="main">

<h2>Editing Submission</h2>

<section class="module">


<%= form_for @submission do |form| %>

	<% # Fields for optional administrator comment %>
	<%= form.fields_for :comment do |f| %>
		<%= f.hidden_field :submission_id, value: @submission.id %>
		<%= f.hidden_field :user_id, value: @current_user.id %>
		<%= f.label :content %>
		<%= f.text_field :content %>
	<% end %>

	<%= form.hidden_field :reviewed, value: true %>

	<%= form.submit "Correct" %>
	<%= form.submit "Incorrect" %>
<% end %>

</section>

</section>
