<aside>
    <section id="back"> <%= link_to 'Back', task_path(@cohort.id) %> </section>
    <h1> <%= @cohort.name %> Submissions </h1>
    Submissions are user-blind for unbiased reviews.
</aside>

<section id="main">


    <% @submission_by_status.keys.sort.reverse.each do |status| %>

        <section class="module small-header"><%= status %></section>
        <section class="module">
            <%= content_tag_for :article, @submission_by_status[status], class: "submission-list" do |submission| %>
                <%= link_to submission.task.title, edit_submission_path(submission) %> 
                | Submitted <%= time_ago_in_words(submission.created_at) %> ago by 
                <%= link_to submission.user.username, submission.user %>.
            <% end %>
        </section>

    <% end %>

</section>

