<aside>

<h1>Listing submissions</h1>
</aside>

<section id="main">

<h2> Submissions </h2>

<section class="module">

    <% @submissions.each do |submission| %>

    <article class="admin-cohort">

        <td><%= submission.user.username %></td>
        <td><%= submission.task.title %></td>
        <td><%= submission.correctness %></td>
        <td><%= submission.reviewed %></td>
        <td><%= link_to 'Review', edit_submission_path(submission) %></td>

</article>

    <% end %>

</section>
