<section class="full">

<h1>Listing submissions</h1>
</section>

<section class="full">
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Task</th>
      <th>Correctness</th>
      <th>Reviewed?</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.user.username %></td>
        <td><%= submission.task.title %></td>
        <td><%= submission.correctness %></td>
        <td><%= submission.reviewed %></td>
        <td><%= link_to 'Review', edit_submission_path(submission) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</section>
