<aside>
    <section id="back"> <%= link_to 'Back', cohort_path(@cohort) %> </section>
    <h1> <%= @cohort.name %> Submissions </h1>
    <p>Submissions are user-blind for unbiased reviews.</p>
</aside>

<section id="main">


    <% @submission_by_status.each do |status, vs| %>
        <section class="module small-header"><%= status %></section>
        <section class="module">
          <% vs.each do |v| %>
            <article class="submission-list submission">
                <%= link_to v['task_title'], edit_submission_path(v['submission_id']) %> 
                | Submitted <%= time_ago_in_words(v['created_at']) %> ago by 
                <%= link_to v['user_name'], user_path(v['user_id']) %>.

            </article>
            <% end %>
        </section>
    <% end %>

</section>

