<aside>

<h1><%= @cohort.name %> Submissions</h1>
<small><i>Submissions are user-blind for unbiased reviews.</i></small>

</aside>

<section id="main">

<section class="module">
 
 	<article class="admin-cohort">

    <h2>Pending For Review</h2>
    
    <% @submissions.each do |submission| %>

    	<% unless submission.has_been_reviewed? %>
    	
		<p><strong>Question:</strong> <%= submission.task.title %></p>

		<p><strong>Answer:</strong> <%= submission.answer %></p>
		<p><%= link_to 'Review', edit_submission_path(submission) %></p>

    	<% else %>
    	
    	All submissions have been reviewed.
    	
    	<hr />
    	
    	<% end %>
    	
    <% end %>
    
    <h2>Reviewed</h2>

    <% @submissions.each do |submission| %>

    	<% if submission.has_been_reviewed? %>

		<p><strong>Question:</strong> <%= submission.task.title %></p>

		<p><strong>Answer:</strong> <%= submission.answer %></p>

        <p><%= link_to 'Review', edit_submission_path(submission) %></p>

        <hr />
	
        <% end %>
        
    <% end %>

	</article>

</section>
