<aside>
    <section id="back"> <%= link_to 'Back', task_path(@cohort.id) %> </section>
    <h1> <%= @cohort.name %> Submissions </h1>
    Submissions are user-blind for unbiased reviews.
</aside>

<section id="main">

    <section class="module small-header">Pending Review</section>
    <section class="module">
        <%= content_tag_for :article, @submissions.pending_review, class: "submission-list" do |submission| %>
            <%= link_to submission.task.title, edit_submission_path(submission) %> 
            | Submitted <%= time_ago_in_words(submission.created_at) %> ago by 
            <%= link_to submission.user.username, submission.user %>.
        <% end %>
    </section>

    <section class="module small-header">Not Accepted</section>
    <section class="module">
        <%= content_tag_for :article, @submissions.not_accepted, class: "submission-list" do |submission| %>
            <%= link_to submission.task.title, edit_submission_path(submission) %> 
            | Submitted <%= time_ago_in_words(submission.created_at) %> ago by 
            <%= link_to submission.user.username, submission.user %>.
        <% end %>
    </section>

    <section class="module small-header">Accepted</section>
    <section class="module">
        <%= content_tag_for :article, @submissions.accepted, class: "submission-list" do |submission| %>
            <%= link_to submission.task.title, edit_submission_path(submission) %> 
            | Submitted <%= time_ago_in_words(submission.created_at) %> ago by 
            <%= link_to submission.user.username, submission.user %>.
        <% end %>
    </section>

</section>

