<aside>
<header> 
<section id="back"> <%= link_to 'Back', task_path(@submission.task.id) %> </section>

<h1>Submissions</h1>

</header>

 <hr />
</aside>

<section id="main">


<p>
  <strong>User:</strong>
  <%= @submission.user.username %>
</p>

<p>
  <strong>Task:</strong>
  <%= @submission.task.title %>
</p>

<p>
  <strong>Submission:</strong>
  <%= @submission.submission %>
</p>

<p>
  <strong>Correctness:</strong>
  <%= @submission.correctness %>
</p>

<p>
  <strong>Reviewed:</strong>
  <%= @submission.reviewed %>
</p>

<p>
  <strong>Percieved points:</strong>
  <%= @submission.percieved_points %>
</p>

<p>
  <strong>Actual points:</strong>
  <%= @submission.actual_points %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |


</section>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46526300-3', 'auto');
  ga('send', 'pageview');

</script>
