<section class="invite module">

  <h3>Invite a New Student</h3>
  <%= link_to_if(@invites.size > 0,
    @invites.size.to_s + ' pending ' + 'invite'.pluralize(@invites.size) + '.',
    admin_invites_path)
  %>

<%= form_for [:admin, @invite] do |f| %>
  <% if @invite.errors.any? %>
    <div id="error_explanation">
      <% @invite.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <%= f.text_field :email, placeholder: 'email@example.com' %>
  <%= f.submit %> 

<% end %>

</section>