<aside>

<h1></h1>

<p> <%= link_to 'Edit', edit_enrollment_path(@enrollment) %> | <%= link_to 'Back', enrollments_path %> </p>

</aside>


<section id="main">

<p> <strong>User:</strong> <%= @enrollment.user %> </p>

<p> <strong>Cohort:</strong> <%= @enrollment.cohort %> </p>

<p> <strong>Role:</strong> <%= @enrollment.role %> </p>

</section>
