<aside id="admin-aside">
	<section id="back"> <%= link_to 'Back', admin_path %> </section>
	<h1> <%= @cohort.name %> </h1>
	<p><%= @cohort.description %></p>
	<section class="aside-links">
		<%= link_to " Edit Cohort", edit_admin_cohort_path(@cohort), class: "fa fa-cog" %>
	</section>
</aside>

<section id="main">

   <section class="small-header module">Enrolled Users</section>

	<section id="enrollment">
		<%= render partial: 'admin/enrollments/form' if @school.has_users_not_in? @cohort %>
	</section>

	<section class="module">
		<% if @cohort.has_users? %>
			<% @cohort.users.each do |user| %>
			 	<article class="users">
					<ul> 
						<li> <figure class="avatar"><%= image_tag user.avatar.url(:thumb) %></figure> </li>
						<li> <%= link_to user.username, admin_user_path(user) %><%= " (Admin)" if user.admin %> </li> 
						<li> <%= user.first_name %> <%= user.last_name %> </li> 
						<li> <%= user.role(@cohort).title %> </li> 
					</ul>
					<p class="footer-text"> <%= link_to " Unenroll User", admin_enrollment_path(user.enrollments.find_by(cohort_id: @cohort)), class: "fa fa-trash-o", method: :delete, data: { confirm: 'Are you sure?' } %> </p>
				</article>
			<% end %>
		<% end %>
	</section>

</section>
