<section class="half">

<%= link_to 'Back', admin_path %>

<h1><%= @cohort.name %></h1>

<h5><%= @cohort.description %></h5>
</section>


<% @cohort.users.each do |user| %>
	<article class="quarter<%= ' admin' if user.role(@cohort).title != ("Student") %>">
		<figure class="avatar"><%= image_tag user.avatar.url(:thumb) %></figure>
		<%= link_to user.username, admin_user_path(user) %><%= " (Admin)" if user.admin %>
		<%= user.first_name %> <%= user.last_name %>
		<%= user.role(@cohort).title %>
		<%= user.email %>
		<%= link_to " Unenroll User", admin_enrollment_path(user.enrollments.find_by(cohort_id: @cohort)), class: "fa fa-trash-o", method: :delete, data: { confirm: 'Are you sure?' } %>
	</article>
<% end %>
</section>



