<body>

<section> 

<article> </article>
<% @schools.each do |school| %>
<div class="cards">
  <div class="card">
    <div class="card-image">
      <img src="http://wyncode.co/wp-content/uploads/2014/02/logo-wyncode1.png" alt="">
    </div>
    <div class="card-header">
      <td><%= school.name %></td>
    </div>
    <div class="card-copy">
      <td><%= school.description %></td>
    </div>
    <div class="card-stats">
      <ul>
        <li><%= link_to 'Show', root_url(subdomain: school.subdomain) %></li>
        <li><%= link_to 'Edit', edit_school_path(school) %></li>
        <li><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <li><%= link_to 'New', new_school_path %></li>
      </ul>
      <%end%>
      </div>
    </div>
  </div>    
</div>
</article>

</section>

</body>
