<aside>
	<h1><%= @school.name %> Dashboard</h1>
	<p><%= @school.description %></p>
</aside>

<section id="main">

  	<section class="small-header module">Cohorts</section>
  	
  	<section class="module">

		<% @current_user.cohorts.order(:id).each do |cohort| %>
			<article class="main-article">
				<h3><%= link_to cohort.name, cohort_path(cohort) %></h3>
				<p><%= cohort.description %></p>
				<p><small>You're a<%= "n" if @current_user.is_instructor?(cohort) %><%= @current_user.role(cohort).title %></small></p>
			</article>
		<% end %>
		
	</section>
</section>
