<aside>
<header>
<section id="back"> <%= link_to 'Back', cohort_path(@unit.cohort.id) %> </section>
<h1> <%= @unit.name %> </h1>
</header>
<p> <%= @unit.description %> </p>

<% if @current_user.is_instructor?(@unit.cohort) %>
<hr />
 <h3>Instructor Options</h3>
	<ul>
		<li> <%= link_to 'New Task', new_unit_task_path(@unit.id) %></li>
		<li><%= link_to 'Edit Unit', edit_unit_path(@unit) %> </li>
	</ul>
<% end %>

</aside>


<section id="main">

<h2>Tasks in <%= @unit.name %></h2>


<section class="module">
   <% @unit.tasks.each do |task| %>
  <article class="admin-cohort">
      <h3><%= link_to task.title, task %></h3>
      <p><%= task.description %></p>

      <% if @current_user.is_instructor?(@unit.cohort) %>
      <p> <%= link_to '', edit_task_path(task.id), class: "fa fa-cog" %></p>
      <% end %>
      </article>
      <% end %>
  
 </section>
