<section id="left-pane">
<h1> <%= @unit.name %> </h1>
<p> <%= @unit.description %> </p>
</section>


<section id="right-pane">

<h2>All Tasks in <%= @unit.name %></h2>
<table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Task Description</th>
        <th>Edit Task </th>
      </tr>
    </thead>
    <tbody>

      <% @unit.tasks.each do |task| %>
        <tr>
          <td><%= link_to task.title, task %></td>
          <td><%= task.description %></td>
          <td> <%= link_to '', edit_task_path(task.id), class: "fa fa-cog" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
 <%= link_to 'New Task', new_unit_task_path(@unit.id) %>

</section>

<%#= link_to 'Back', cohort_path(@unit.cohort.id) %>

<%#= link_to '', edit_unit_path(@unit), class: "fa fa-cog" %> 