<aside>
  <header>
    <section id="back"> <%= link_to 'Back', cohort_path(@unit.cohort.id) %> </section>
    <h1> <%= @unit.name %> </h1>
  </header>
  <p> <%= @unit.description %> </p>

  <% if @current_user.is_instructor?(@unit.cohort) %>
  <hr />
  <h3>Instructor Options</h3>
 
   <p class="aside-buttons"> <%= link_to 'New Task', new_unit_task_path(@unit.id) %></p>
   <p class="aside-buttons"><%= link_to 'Edit Unit', edit_unit_path(@unit) %> </p>

  <% end %>

</aside>


<section id="main">

    <p class="small-header">Tasks in <%= @unit.name %></p> 



  <section class="module">

   <% @unit.tasks.order(:created_at).each do |task| %>
    <article class="main-article">
    <h3><%= link_to task.title, task %></h3>
    <p><%= task.description %></p>

    <% if @current_user.is_instructor?(@unit.cohort) %>
    <p class="footer-text">  <%= link_to ' Edit Task', edit_task_path(task.id), class: "fa fa-cog" %></p>
    <% end %>
  </article>
  <% end %>
  </section>
</section>
