<aside>
  <header>
    <section id="back"> <%= link_to 'Back', cohort_path(@unit.cohort.id) %> </section>
    <h1> <%= @unit.name %> </h1>
  </header>
  <p> <%= @unit.description %> </p>

  <% if @current_user.is_instructor?(@unit.cohort) %>
  <hr />
  <h3>Instructor Options</h3>
  <ul>
    <li> <%= link_to 'New Task', new_unit_task_path(@unit.id) %></li>
    <li><%= link_to 'Edit Unit', edit_unit_path(@unit) %> </li>
  </ul>
  <% end %>

</aside>


<section id="main">

<<<<<<< HEAD
<section class="module">
=======
  <h2>Tasks in <%= @unit.name %></h2>
>>>>>>> 10527a2639e387141502dd9a9cf92b09894dc9dd

  <br />
  <p class="small-header">Tasks in <%= @unit.name %></p>
  <hr />

<<<<<<< HEAD
=======
  <section class="module">
>>>>>>> 10527a2639e387141502dd9a9cf92b09894dc9dd
   <% @unit.tasks.each do |task| %>
    <article class="main-article">
    <h3><%= link_to task.title, task %></h3>
    <p><%= task.description %></p>

    <% if @current_user.is_instructor?(@unit.cohort) %>
    <p class="footer-text">  <%= link_to ' Edit Task', edit_task_path(task.id), class: "fa fa-cog" %></p>
    <% end %>
  </article>
  <% end %>
  
</section>
