<section class="full">
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Cohort</a></li>
   <li class="active">Units</li>
</ol>
<%= link_to 'Back', cohort_path(@unit.cohort.id) %>
<h1> <%= @unit.name %> </h1>
</section>

<section class="half">
<h3> Unit Description </h3>
 <p> <%= @unit.description %></p>
 <%= link_to '', edit_unit_path(@unit), class: "fa fa-cog" %> 
</section>

</section>

<section class="half">

<table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Task Description</th>
        <th>Edit Task </th>
      </tr>
    </thead>
    <tbody>

      <% @unit.tasks.each do |task| %>
        <tr>
          <td><%= link_to task.title, task %></td>
          <td><%= task.description %></td>
          <td> <%= link_to '', edit_task_path(task.id), class: "fa fa-cog" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
 <%= link_to 'New Task', new_unit_task_path(@unit.id) %>
</section>