<section class="half">
<h1>Units/Show </h1>
<p>
  <strong>Name:</strong>
  <%= @unit.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @unit.description %>
</p>

<p>
  <strong>Cohort:</strong>
  <%= @unit.cohort.name %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>

</section>

<section class="half">

<table>
    <thead>
      <tr>
        <th>Tasks</th>
      </tr>
    </thead>
    <tbody>

      <% @unit.tasks.each do |task| %>
        <tr>
          <td><%= task.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
 <%= link_to 'New Task', new_unit_task_path(@unit.id) %>
</section>