<section class="full">
<%= link_to 'Back', cohort_path(@unit.cohort) %>
<%= link_to 'Edit', edit_unit_path(@unit) %> 
<h1> <%= @school.name %> <%= @unit.cohort.name %> <%= @unit.name.capitalize %> </h1>

</section>

<section class="half">
<h3> Unit Description </h3>
 <p> <%= @unit.description %></p>
</section>

</section>

<section class="half">

<table>
    <thead>
      <tr>
        <th>Tasks</th>
      </tr>
    </thead>
    <tbody>

      <% @unit.tasks.each do |task| %>
        <tr>
          <td><%= link_to task.title, task %></td>
          <td><%= task.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
 <%= link_to 'New Task', new_unit_task_path(@unit.id) %>
</section>