<aside>
	<section id="back"> <%= link_to "Return to #{@unit.cohort.name}", cohort_path(@unit.cohort.id) %> </section>
	<h1><%= @unit.name %></h1>
	<p><%= @unit.description %></p>
	<% @unit.related_materials.each do |attachment| %>
		<p> <%= link_to attachment.file_file_name, attachment.file.url %> </p>
		<% end %>

	<% if @current_user.is_instructor?(@unit.cohort) %>
		<ul class="aside-links">
			<li class="aside-buttons"><%= link_to 'New Task', new_unit_task_path(@unit.id) %></li>
			<li class="aside-buttons"><%= link_to ' Edit Unit', edit_unit_path(@unit) %> </li>
		</ul>
	<% end %>
</aside>


<section id="main">

	<section class="small-header module">Tasks in <%= @unit.name %></section> 

	<section class="module">

		<% @unit.tasks.order(:id).each do |task| %>
			<article class="main-article cf">
				<h3><%= link_to task.title, task %></h3>
				<p><small><%= task.description %></small></p>

				<% if @current_user.has_completed? task %>
					<p class="footer-text">Completed on <%= @current_user.last_submission_for(task).created_at %></p>
				<% end %>

				<% if @current_user.is_instructor?(@unit.cohort) %>
					<p class="footer-text"><%= link_to ' Edit Task', edit_task_path(task.id), class: "fa fa-cog" %></p>
				<% end %>
			</article>
		<% end %>

		<% if @unit.tasks.empty? %>
			<p>There aren't any tasks in this unit!</p>
		<% end %>

	</section>

</section>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46526300-3', 'auto');
  ga('send', 'pageview');
</script>
