<aside>
<header>
<%= link_to 'Back', cohort_path(@unit.cohort.id) %>
<h1> <%= @unit.name %> </h1>
</header>
<p> <%= @unit.description %> </p>
<ul>
<li> <%= link_to 'New Task', new_unit_task_path(@unit.id) %></li>
<li><%= link_to '', edit_unit_path(@unit), class: "fa fa-cog" %> </li>
</ul>
</aside>


<section id="main">

<h2>All Tasks in <%= @unit.name %></h2>


<section class="module">
   <% @unit.tasks.each do |task| %>
  <article class="admin-cohort">
      <h3><%= link_to task.title, task %></h3>
      <p><%= task.description %></p>
      <p> <%= link_to '', edit_task_path(task.id), class: "fa fa-cog" %></p>
      </article>
      <% end %>
  
 </section>
