<figure class="avatar"><%= image_tag @user.avatar.url(:thumb) %></figure>

<ul>

<li> <strong>Username:</strong> <%= @user.username %> </li>

<li> <strong>First name:</strong> <%= @user.first_name %> </li>

<li> <strong>Last name:</strong> <%= @user.last_name %> </li>

<li> <strong>Email:</strong> <%= @user.email %> </li>

<li> <strong>Enrolled In:</strong>

   <% @user.cohorts.each do |cohort| %>
  <%= cohort.name %> (
  <%= @user.role(cohort).title %> )
  <% end %>

</li>

<li> <strong> School: </strong> <%= @user.school.name %> </li>

<li> <strong>Created:</strong> <%= time_ago_in_words @user.created_at %> ago </li>

<p class="footer-text"> <%= link_to ' Edit', edit_admin_user_path(@user), class: "fa fa-trash-o" %> </p>

</ul>