<aside>
	<header> 
	<h1> <%= link_to 'Invite a New Student', new_admin_invite_path %> </h1>
	</header>
</aside>

<section id="main">


	

	<section class="small-header">Currently Enrolled Students</section>
	<section class="module">
		<% @users.each do |user| %>

			<article class="users">
				<ul> 
					<li> <figure class="avatar"><%= image_tag user.avatar.url(:thumb) %></figure> </li>
					<li> <%= link_to user.username, admin_user_path(user) %><%= " (Admin)" if user.admin %> </li>
					<li> <%= user.first_name %> <%= user.last_name %> </li>
					<li> <%= user.email %> </li>
					<li> <%= link_to 'Edit', edit_admin_user_path(user) %> </li>
				</ul>
			</article>
		<% end %>
	</section>s

</section>
