<aside id="admin-aside">
	<header> 
		<section id="back"> <%= link_to 'Back', admin_path %> </section>

		<h1> <%= @school.name %> </h1>
		
	</header>

	<p><%= @school.description %></p>

</aside>

<section id="main">

<p class="small-header module"> Enroll User</p>

	<section id="enrollment">

		<%= render partial: 'admin/enrollments/form' if @school.has_cohorts_not_in? @user %>

	</section>

		<section id="user-partial">

		<%= render partial: 'user' %>

		</section>

</section>