 <h2>Enroll User</h2>

  <%= form_for @enrollment, url: admin_enrollments_path do |f| %>

    <% if @enrollment.errors.any? %>
        <% @enrollment.errors.full_messages.each do |message| %>
          <p class="form-error"><%= message %></p>
        <% end %>
    <% end %>

Add

    <% # If page has a user, use that.  If it has a cohort, don't show currently enrolled users. %>
    <% if @user %>
      <%= @user.first_name %>
      <%= f.hidden_field :user_id, value: @user.id %>
    <% else %>
      <%= f.collection_select :user_id, @school.available_users(@cohort), :id, :username %>
    <% end %>

to 

    <% # If page has a cohort, use that.  If it has a user, don't show any cohorts user is already in. %>
    <% if @cohort %>
      <%= @cohort.name %>
      <%= f.hidden_field :cohort_id, value: @cohort.id %>
    <% else %>
      <%= f.collection_select :cohort_id, @school.available_cohorts(@user), :id, :name %>
    <% end %>

as a(n)

    <%= f.collection_select :role_id, Role.all, :id, :title %>

    <%= f.submit %>

  <% end %>