<section class="full">

  <%= form_for @enrollment, url: admin_enrollments_path do |f| %>

    <% if @enrollment.errors.any? %>
        <% @enrollment.errors.full_messages.each do |message| %>
          <p class="form-error"><%= message %></p>
        <% end %>
    <% end %>

    Add

    <% # If page has a user, use that.  If it has a cohort, don't show currently enrolled users. %>
    <% if @user %>
      <%= @user.username %>
      <%= f.hidden_field :user_id, value: @user.id %>
    <% elsif @cohort %>
      <%= f.collection_select :user_id, @school.users_not_in(@cohort), :id, :username %>
    <% else %>
      <%= f.collection_select :user_id, @school.users, :id, :username %> 
    <% end %>

    to 

    <% # If page has a cohort, use that.  If it has a user, don't show any cohorts user is already in. %>
    <% if @cohort %>
      <%= @cohort.name %>
      <%= f.hidden_field :cohort_id, value: @cohort.id %>
    <% elsif @user %>
      <%= f.collection_select :cohort_id, @school.cohorts_not_in(@user), :id, :name %>
    <% else %>
      <%= f.collection_select :cohort_id, @school.cohorts, :id, :name %> 
    <% end %>

    as a(n)

    <%= f.collection_select :role_id, Role.all, :id, :title %>

    <%= f.submit %>

  <% end %>

</section>