<p>
  <strong>User:</strong>
  <%= @enrollment.user.username %>
</p>

<p>
  <strong>Cohort:</strong>
  <%= @enrollment.cohort.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @enrollment.role.title %>
</p>

<%= link_to 'Edit', edit_admin_enrollment_path(@enrollment) %> |
<%= link_to 'Back', admin_enrollments_path %>
