<!DOCTYPE html>

<html>
<head>
  <title>Goodmeasure</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navigation">
  <div class="menu-wrapper">
    <a href="/" class="logo">
      <img src="http://www.webphenoms.com/wp-content/uploads/2014/06/wyncode.png" alt="Wyncode">
    </a>
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><a href="javascript:void(0)"></a></li>
        </li>
      </ul>
    </div>
    <div class="navigation-tools">
	     <ul id="navigation-tools">
        <% if current_user %><li><%= link_to 'Home', root_path %></li><% end %>
        <% if current_user && current_user.admin %><li><%= link_to 'Admin', admin_path %></li><% end %>
        <% if current_user %><li><%= link_to @current_user.first_name.capitalize, profile_path %></li><% end %>
        <% if current_user %><li><%= link_to "Logout", '/logout' if current_user %></li><% end %>
      </div>
  </div>
</header>
<%= yield %>

<main>
<% if flash[:success] %><p id="success"><%= flash[:success] %></p><% end %>
<% if flash[:error] %><p id="error"><%= flash[:error] %></p><% end %>
<% if notice %><p id="notice"><%= notice %></p><% end %>

</main>

</body>
</html>
